.gallery-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #f8f9fa;
}

.gallery-page .heading {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.75)),
    url(/Assets/GRID_1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.gallery-page .heading h1 {
  color: #ffffff;
  margin: 0 200px;
  font-size: 60px;
  font-family: "Khand", sans-serif;
}

.gallery-page .photos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery-page .photos .photos-wrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  margin: 50px 0;
  flex-wrap: wrap;
}

.gallery-page .photos .photos-wrapper .photo {
  width: 300px;
  height: auto;
  aspect-ratio: 1 / 0.65;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 20px;
  position: relative;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.gallery-page .photos .photos-wrapper .photo:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.gallery-page .photos .photos-wrapper .photo:hover:after {
  background-color: #00000041;
}

.gallery-page .photos .photos-wrapper .photo img {
  min-width: 100%;
  min-height: 100%;
  object-fit: center;
  transition: all 0.2s ease-in-out;
}

.gallery-page .photos .photos-wrapper .photo:hover img {
  min-width: 110%;
  min-height: 110%;
}

@media screen and (max-width: 900px) {
  .gallery-page .heading {
    min-width: 100%;
    min-height: 100%;
    aspect-ratio: 1 / 0.5;
  }

  .gallery-page .heading h1 {
    color: #ffffff;
    margin: 0 100px;
    font-size: 40px;
    font-family: "Khand", sans-serif;
  }
}

@media screen and (max-width: 680px) {
  .gallery-page .photos .photos-wrapper .photo {
    width: 500px;
    aspect-ratio: 1 / 0.65;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 20px;
  }
}

@media screen and (max-width: 665px) {
  .gallery-page .heading {
    justify-content: center;
  }

  .gallery-page .heading h1 {
    margin: 0;
  }
}


/* Video Page Start */

.video-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #f8f9fa;
}

.video-page .heading {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.75)),
    url(/Assets/GRID_1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.video-page .heading h1 {
  color: #ffffff;
  margin: 0 200px;
  font-size: 60px;
  font-family: "Khand", sans-serif;
}

.video-page .videos .videos-wrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  margin: 50px 0;
  flex-wrap: wrap;
}

.video-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  aspect-ratio: 1 / 0.56;
  margin: 20px;
}

@media screen and (max-width: 1470px) {
  .video-frame {
    width: 600px;
  }
}

@media screen and (max-width: 1280px) {
  .video-frame {
    width: 500px;
  }
}

@media screen and (max-width: 1080px) {
  .video-frame {
    width: 420px;
  }
}

@media screen and (max-width: 920px) {
  .video-frame {
    width: 100%;
    max-width: 380px;
  }
}

@media screen and (max-width: 900px) {
  .video-page .heading {
    height: auto;
    aspect-ratio: 1 / 0.5;
  }

  .video-page .heading h1 {
    color: #ffffff;
    margin: 0 100px;
    font-size: 40px;
    font-family: "Khand", sans-serif;
  }
}

@media screen and (max-width: 840px) {
  .video-frame {
    width: 100%;
    max-width: 580px;
  }
}

@media screen and (max-width: 665px) {
  .video-page .heading {
    justify-content: center;
  }

  .video-page .heading h1 {
    margin: 0;
  }
}


/* ------------------ */


.about .about-wrapper .items .paragraph {
  width: 500px;
  display: flex;
  align-content: space-evenly;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 30px;
  flex-grow: 1;
}

.about .about-wrapper .items .paragraph .lead h2 {
  color: #f47217;
  font-size: 25px;
  margin: 30px 0;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-family: "Khand", sans-serif;
}

.about .about-wrapper .items .paragraph .lead h2::after {
  content: "";
  position: absolute;
  background-color: #2ccc7f;
  height: 3px;
  width: 23px;
  bottom: -10px;
}

.about .about-wrapper .items .paragraph .lead h1 {
  color: #082366;
  margin: 10px 0;
  font-family: "Khand", sans-serif;
}

.about .about-wrapper .items .paragraph p {
  margin: 10px 0;
}

/*
.about .about-wrapper .items .paragraph a {
  font-family: "Khand", sans-serif;
  margin: 10px 0;
  height: 50px;
  width: 150px;
  background-color: #2ccc7f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: all 0.2s linear;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  border-radius: 8px;
}

.about .about-wrapper .items .paragraph a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #21a650;
}*/


@media screen and (max-width: 1270px) {
  .about .about-wrapper .items {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding: 0 60px;
  }


  .about .about-wrapper .items .paragraph {
    width: 100%;
  }
}